[class*="checkbox__"]{
  display: none;
}
.header__nav{
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
.nav__logo{
  display: none;
}
.menu--closer{
  display: none;
}
.content__item{
  padding: 50px;
}
.header{
  padding: 0 30px 0 50px;
}
.nav__ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__a{
  text-decoration: none;
  display: block;
  padding: 20px;
  font-size: 12px;
  white-space: nowrap;
}